<!DOCTYPE html>
<html>
<head>
    <title>To do list</title>
    <meta charset="utf-8"/>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular/script.js"></script>
    <style>
        span.done-true {
            color: gray;
            font-style: italic;
            text-decoration: line-through;
        }

        span[contenteditable="true"] {
            background: blue;
            color: red;
            padding: 3px;
        }
    </style>
</head>
<body ng-app="mainApp" ng-controller="app">
<h2 style="text-align:center">Add a task</h2>
<input ng-model="task" ng-keyup="searchEnter()" type="text" style="display: block; margin: 0 auto; padding: 5px; font-size: 15px; width: 300px;"/>
<div id="tasksToShow">
    <ul>
        <li ng-repeat="oneTask in tasks track by $index">
            <input type="checkbox" ng-model="oneTask.status" />
            <span contenteditable="false" ng-dblclick="contentEdit(oneTask.taskMessage)" ng-keydown="enterAgain(oneTask.taskMessage)" ng-model="oneTask.taskMessage"
                   class="done-{{oneTask.status}}">
                {{oneTask.taskMessage}}
            </span>
        </li>
    </ul>
</div>
</body>
</html>
